
.important .tools .btn {
    border-radius: 20px;
    padding: 10px;
}

.important .body .btn{
    border-radius: 20px;
}

.important .navbar-inner{
    background-color: #f07d00 !important;
    border-color: #f07d00 !important;
    border-bottom-color: #f07d00 !important;
}

.important .social-box header{
    background-color: #f07d00 !important;
    border-color: #f07d00 !important;
}

.important .social-box {
    border-color: #f07d00 !important;
}

.important td .btn{
    display: flex;
    justify-content: center;
}

.important .dd-item-alt .dd-content:hover{
    color: black;
    cursor: initial;
}

.important table{
    border: 1px solid black;
}

.important thead{
    background-color: #ffdadf;
}

.important th{
    border: 1px solid black;
}

.important td{
    border: 1px solid black;
}

.important .schoole_pastil{
    display: none;
}

.important .breadcrumb{
    font-size: 20px;
}

.important .navbar-inner .divider-vertical{
    border-left-color: white !important;
    border-right-color: white !important;
}