@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.notesImp  {
    background-color: #e0e0e0;
    font-family: 'Rubik', sans-serif !important;
}
.classImp .tools .btn {
    border-radius: 20px;
}
.ficheImp .tools .btn {
    border-radius: 5px;
    padding: 10px;
}
.notesImp *{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
.notesImp #Text{
    font-family: 'Rubik', sans-serif;
}


.notesImp .navbar-inner {
    background-color: #f07d00 !important;
}
.classImp .body .btn{
    border-radius: 20px;
}

.ficheImp .body .btn{
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #0894b8, #0894b8);
    color: whitesmoke;

}

.notesImp header {
    background-color: #f07d00 !important;
}

.notesImp .dd-handle{
    background-image: none;
    background-repeat: none;
    border-radius: 2px;
    border-color: rgba(255, 255, 255, 0) !important;
    background: #f5f5f5 !important;
    box-shadow:  6px 6px 15px #626262a1,
             -6px -6px 15px #ffffffa1;
    cursor: default;
}
.notesImp .icon-quote-left{
    color: black;
}
.notesImp .dd-handle:hover{
    background: #f5f5f5;
    color: black;
}
.notesImp .dd-unite-student{
    background-color: #f5f5f5;
    border-color: rgba(255, 255, 255, 0);
}

.notesImp .dd-item{
    background-color: transparent;
}
.notesImp .note_commentaire{
    background: transparent;
}
.notesImp .text-info{
    color: #023e7d;
}
.notesImp .badge-info{
    background-color: #0353a4;
}
.notesImp .badge{
    border-radius: 3px;
}
.notesImp .badge-warning {
    background-color: #eca163;
}

.notesImp .btn{
    background-image: none;
    border-radius: 10px; 
    margin: 5px;
}
.notesImp .btn:focus{
    outline:none;
}
.notesImp .btn-group>.btn:first-child{
    border-radius: 14px;
}
.notesImp .bonus{
    background-color: #00C0D2;
}
.notesImp .bonus:hover{
    background-color: #0399b8;
}

.classImp .navbar-inner{
    background-color: #f07d00 !important;
    border-color: #f07d00 !important;
    border-bottom-color: #f07d00 !important;
}
.ficheImp .navbar-inner{
    background-color: #eba53b !important;
    border-color: #eba53b !important;
    border-bottom-color: #eba53b !important;
}

.ficheImp .social-box header{
    background-color: #eba53b !important;
    border-color: #eba53b !important;
}

.ficheImp .social-box {
    border-color: #eba53b !important;
}

.ficheImp td .btn{
    display: flex;
    justify-content: center;
}

.ficheImp .dd-item-alt .dd-content:hover{
    color: black;
    cursor: initial;
}

.ficheImp table{
    border: 1px solid rgb(119, 119, 119);
}

.ficheImp thead{
    background-color: #ebcda0;
}

.ficheImp th{
    border: 1px solid rgb(119, 119, 119);
}

.ficheImp td{
    border: 1px solid rgb(119, 119, 119);
}

.ficheImp .schoole_pastil{
    display: none;
}

.ficheImp .breadcrumb{
    font-size: 20px;
}

.ficheImp .navbar-inner .divider-vertical{
    border-left-color: white !important;
    border-right-color: white !important;
}

.ficheImp .btn-small{
    color: whitesmoke;
}

.ficheImp .icon-picture{
    color: whitesmoke;
    font-size: 25px;
}

.ficheImp .avatar{
    content: url(https://profcitron.fr/wp-content/uploads/2020/12/alexis.jpg);
    size: 500%;
}

.ficheImp #student_photo{
    width: 300%;
}

.ficheImp .social-orange{
    width: 70%;
    float: right;
}

