
.ficheImp .tools .btn {
    border-radius: 20px;
    padding: 10px;
}

.ficheImp .body .btn{
    border-radius: 20px;
}

.ficheImp .navbar-inner{
    background-color: #f07d00 !important;
    border-color: #f07d00 !important;
    border-bottom-color: #f07d00 !important;
}

.ficheImp .social-box header{
    background-color: #f07d00 !important;
    border-color: #f07d00 !important;
}

.ficheImp .social-box {
    border-color: #f07d00 !important;
}

.ficheImp td .btn{
    display: flex;
    justify-content: center;
}

.ficheImp .dd-item-alt .dd-content:hover{
    color: black;
    cursor: initial;
}

.ficheImp table{
    border: 1px solid black;
}

.ficheImp thead{
    background-color: #ffdadf;
}

.ficheImp th{
    border: 1px solid black;
}

.ficheImp td{
    border: 1px solid black;
}

.ficheImp .schoole_pastil{
    display: none;
}

.ficheImp .breadcrumb{
    font-size: 20px;
}

.ficheImp .navbar-inner .divider-vertical{
    border-left-color: white !important;
    border-right-color: white !important;
}